* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Trebuchet MS"; }

.inner-container {
  max-width: 1100px;
  margin: 0 auto; }

h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2em; }

a {
  color: #6ECBFF; }
  a:hover {
    color: #00ABFF; }

.fas {
  margin-right: 10px; }

.tips {
  color: #aaa;
  font-style: italic;
  font-weight: 100;
  font-size: 14px; }

.headroom {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background: #333;
  will-change: transform;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear; }
  .headroom.headroom--pinned {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  .headroom.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  .headroom .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding: 0 20px;
    height: 60px; }
    .headroom .inner-container .logo {
      display: inline-block;
      vertical-align: middle; }
    .headroom .inner-container ul {
      display: flex;
      list-style-type: none; }
      .headroom .inner-container ul li {
        display: block;
        height: 60px;
        line-height: 60px;
        text-align: center; }
        .headroom .inner-container ul li a {
          display: block;
          color: #6ECBFF;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0 10px;
          font-size: 14px; }
          .headroom .inner-container ul li a .fa-flask, .headroom .inner-container ul li a .fa-suitcase, .headroom .inner-container ul li a .fa-user {
            vertical-align: .05em; }
          .headroom .inner-container ul li a:hover {
            background: #f1f1f1;
            color: #333; }
            .headroom .inner-container ul li a:hover .fa-flask {
              color: #00cc44; }
            .headroom .inner-container ul li a:hover .fa-rss {
              color: #f26522; }
            .headroom .inner-container ul li a:hover .fa-user {
              color: #ffb3ff; }
            .headroom .inner-container ul li a:hover .fa-graduation-cap {
              color: #e60000; }
            .headroom .inner-container ul li a:hover .fa-file {
              color: #b3b300; }
        .headroom .inner-container ul li:last-child {
          margin-left: 10px; }
          .headroom .inner-container ul li:last-child a {
            color: #333;
            display: inline-block;
            background-color: #6ECBFF;
            border-radius: 3px;
            padding: 15px;
            height: auto;
            line-height: 1; }
            .headroom .inner-container ul li:last-child a:hover {
              background: #f1f1f1; }

.banniere {
  background: url("img/banniere.jpg");
  background-attachment: fixed;
  background-position: left top;
  height: 80vh; }
  .banniere .visible {
    visibility: visible;
    opacity: 1; }
  .banniere .text {
    width: 70%; }
  .banniere h1 {
    font-size: 4.5em;
    line-height: 0.8em;
    visibility: hidden;
    opacity: 0;
    text-shadow: 1px 1px 1px black;
    color: white;
    transition: all 1s ease; }
  .banniere p {
    font-size: 24px;
    margin-top: 18px;
    visibility: hidden;
    opacity: 0;
    text-shadow: 1px 1px 1px #f1f1f1;
    transition: all 1s ease; }
  .banniere .inner-container {
    padding: 110px 20px 40px 20px;
    display: flex;
    align-items: center;
    height: 100%; }

footer .inner-container {
  border-top: 1px solid #f1f1f1;
  padding: 20px; }
footer p {
  text-align: center; }

#competences {
  background: #f1f1f1;
  clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%); }
  #competences .inner-container {
    padding: 60px 20px; }
  #competences h2 .fa-flask {
    color: #00cc44; }

.domain {
  width: 32%;
  display: inline-block;
  margin-right: 1.33%;
  margin-bottom: 15px;
  margin-left: -0.2em;
  vertical-align: top; }
  .domain .competence {
    margin-bottom: 8px; }

.average {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid black; }
  .average h3 {
    text-transform: uppercase; }
  .average .loader-container {
    width: 100px; }

.loader-container {
  position: relative;
  border: 2px solid black;
  height: 30px;
  width: 100%; }
  .loader-container .loader {
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    background: #6ECBFF;
    transition: width 2s ease; }

#a-propos {
  background: #f1f1f1;
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%); }
  #a-propos .inner-container {
    padding: 60px 20px; }
  #a-propos ul {
    padding: 18px 0; }
    #a-propos ul li:last-child {
      list-style-type: none; }
  #a-propos img {
    float: right;
    width: 35%;
    margin-left: 20px; }

.spoil {
  background: black; }
  .spoil:hover {
    background: #f1f1f1; }

#experiences {
  background: white; }
  #experiences .inner-container {
    padding: 60px 20px 15px 20px; }
  #experiences h2 .fa-suitcase {
    color: black; }

.experience {
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1; }
  .experience div {
    width: 45%;
    margin: 0 2.5%; }
  .experience:last-child {
    margin: 0;
    border-bottom: none; }
  .experience span {
    font-size: 14px; }
  .experience p {
    margin-top: 18px; }
  .experience figure {
    width: 45%;
    margin: 0 2.5%; }
    .experience figure img {
      max-width: 70%;
      max-height: 200px;
      display: block;
      margin: auto; }
    .experience figure figcaption {
      font-style: italic;
      font-size: 12px;
      text-align: center;
      margin-top: 10px; }

#contact {
  background: white; }
  #contact .inner-container {
    padding: 30px 20px 60px 20px; }
  #contact h2 .fa-rss {
    color: #f26522; }
  #contact #form h3 {
    text-align: center;
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #f1f1f1; }
  #contact #form {
    width: 60%; }
    #contact #form #prenom {
      margin-right: 2%; }
    #contact #form #nom, #contact #form #prenom {
      width: 49%; }
    #contact #form #sujet, #contact #form #mail, #contact #form textarea {
      width: 100%; }
    #contact #form #mail, #contact #form textarea {
      margin: 10px 0; }
    #contact #form #mail {
      max-width: 100%; }
    #contact #form textarea {
      resize: none; }
    #contact #form #submitMail {
      display: block;
      margin: auto;
      background: #6ECBFF;
      color: white;
      width: 33%;
      border-radius: 3px;
      padding: 15px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
      transition: background .5s ease; }
      #contact #form #submitMail .fa-spinner {
        margin: 0; }
      #contact #form #submitMail.disabled:hover {
        background: #6ECBFF;
        cursor: initial; }
      #contact #form #submitMail.confirm {
        background: #00b33c; }
        #contact #form #submitMail.confirm:hover {
          background: #00b33c; }
      #contact #form #submitMail:hover {
        background: #00ABFF; }
  #contact input, #contact textarea {
    background: white;
    box-shadow: 0 0 2px #f1f1f1 inset;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 15px;
    font-size: 16px; }
    #contact input:focus, #contact textarea:focus {
      border-color: #f1f1f1;
      box-shadow: 0 0 2px #6ECBFF inset; }
  #contact .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #contact #networks {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%; }
    #contact #networks .network {
      width: 33%;
      visibility: hidden;
      text-align: center; }
      #contact #networks .network .fab {
        margin-top: 18px; }
      #contact #networks .network .fa-linkedin {
        color: #0077B5; }
      #contact #networks .network .fa-viadeo {
        color: #f49d22; }
      #contact #networks .network a {
        padding: 3em 5em;
        text-decoration: none;
        color: black;
        display: inline-block;
        width: 100%;
        height: 100%; }
        #contact #networks .network a:hover {
          background: #f1f1f1; }
      #contact #networks .network.bounceIn {
        visibility: visible; }

#formations {
  background: white; }
  #formations .inner-container {
    padding: 30px 20px; }
  #formations .slider-formations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  #formations .fa-graduation-cap {
    color: #e60000; }

.formation {
  width: 25%;
  visibility: hidden;
  font-size: 1.2em;
  padding: 15px; }
  .formation.bounceIn {
    visibility: visible; }
  .formation div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .formation i {
    margin: 0; }
  .formation span {
    margin: 5px 0 18px 0;
    font-size: 0.8em;
    color: #aaa; }
  .formation .fa-book {
    color: #663300; }
  .formation .fa-school {
    color: #6b6b47; }
  .formation .fa-desktop {
    color: #e68a00; }
  .formation .fa-child {
    color: #ffcccc; }

@media (max-width: 1100px) {
  .banniere {
    background-position: center top; }

  #a-propos .inner-container {
    padding: 60px 40px; } }
@media (max-width: 894px) {
  html {
    overflow: scroll;
    overflow-x: hidden; }

  .headroom .inner-container {
    padding-right: 0; }
  .headroom .logo {
    padding-right: 20px; }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; }

  ::-webkit-scrollbar-thumb {
    background: transparent; }

  header nav {
    height: 100%;
    overflow: hidden;
    position: relative; }
    header nav::before, header nav::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 100%;
      display: block;
      width: 80px; }
    header nav::before {
      left: 0;
      background-image: linear-gradient(to left, rgba(33, 33, 33, 0) 0%, #212121 100%); }
    header nav::after {
      right: 0;
      background-image: linear-gradient(to right, rgba(33, 33, 33, 0) 0%, #212121 100%); }
    header nav ul {
      display: block;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      margin-bottom: -16px; }
    header nav li {
      float: none;
      display: inline-block; }
      header nav li:first-child {
        padding-left: 80px; }
      header nav li:last-child {
        padding-right: 80px; }

  .experience figure {
    width: 30%; }
  .experience div {
    width: 60%; } }
@media (max-width: 768px) {
  .domain {
    width: 48%;
    margin-right: 2%; }

  .formation {
    width: 33%; }

  #contact #networks {
    justify-content: space-around; }
    #contact #networks .network {
      width: auto; }
      #contact #networks .network a {
        padding: 15px 35px; }

  .banniere {
    height: auto; }
    .banniere .text {
      width: 100%; }
    .banniere h1 {
      font-size: 4em; }
    .banniere p {
      font-size: 20px; }

  #contact #form {
    width: 90%; }

  #a-propos, #competences {
    clip-path: polygon(0 0, 100% 3%, 100% 97%, 0% 100%); } }
@media (max-width: 480px) {
  #a-propos img {
    float: none;
    width: 100%;
    margin: auto; }

  #a-propos, #competences {
    clip-path: polygon(0 0, 100% 1%, 100% 99%, 0% 100%); }

  .experience {
    flex-direction: column;
    align-items: center; }
    .experience figure {
      width: 60%;
      margin-bottom: 25px; }
    .experience h3, .experience span {
      text-align: center; }
    .experience span {
      display: block;
      width: 100%; }

  .formation {
    width: 50%; }

  .domain {
    width: 100%;
    margin-right: 0; } }
@media (max-width: 360px) {
  .formation {
    width: 100%; }

  #networks {
    flex-direction: column;
    align-items: center; } }

/*# sourceMappingURL=styles.css.map */
