#experiences {
  background: white;
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);

  .inner-container {
    padding: 60px 20px 15px 20px;
  }

  h2 .fa-suitcase {
    color: black;
  }
}

.experience {
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $white;

  div {
    width: 45%;
    margin: 0 2.5%;
  }

  &:last-child {
    margin: 0;
    border-bottom: none;
  }

  span {
    font-size: 14px;
  }

  p {
    margin-top: 18px;
  }

  figure {
    width: 45%;
    margin: 0 2.5%;

    img {
      max-width: 70%;
      max-height: 200px;
      display: block;
      margin: auto;
    }

    figcaption {
      font-style: italic;
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
    }
  }
}
